.traking{
    background-color: #003464;
    color: hsl(0, 0%, 100%);
    padding: 50px;
    padding-top: 5%;
    overflow: auto;
    position: fixed;
    margin-right: -30px;
    margin-top: -10px;
}

@media (max-width: 768px) {
    .traking{
        position: relative;
        padding-top: 15%;
        margin-right: ;
    }
}

.steps{
    font-weight: 500;
    background-color: #fff;
    color: black;
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    
}

.input-container{
    margin-top: 30px;
}

.progress-bar{
    background-color: #ffffff28;
    width: 5px;
    height: 0px;
    position: absolute;
    margin-left: 8px;
    transition: 1s;
}

.step{
    margin-bottom: 30px;
    font-size: 15px;
}


.finish{
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.completion{
    background-color: #fff;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    padding: 1px;
}

.scal{
    background-color: rgba(45, 193, 65, 0.912);
    height: 7.5px;
    border-radius: 50px;
    transition: 1s;
}

.precentage{
    margin-top: 10px;
    float: right;
}

.copyrights{
    margin-top: 40%;
    float: inline-end;
    font-size: 12px;
}

.copyrights a{
    color: #00fff2;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

.cnt-icon{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
}

.check{
    color: green;
    font-size: 20px;
}

.navi{
    background-color: transparent;
    border: none;
}
