.objective-container{
    top: 0;
    margin-top: 3%;
    padding: 20px;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .objective-container{
        position: relative;
    }
}

.row{
    width: 104%;
    margin-top: 20px;
}

.list{
    font-size: 18px;
    font-weight: 500;
}

.heading{
    margin-top: 30px;
    color: rebeccapurple;
    margin-bottom: -5px;
}

#degree{
    width: 100%;
    padding: 11px;
    border: 1px solid;
}

.additional{
    float: right;
    transition: .5s;
}

.cover{
    border: 1px solid;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(102, 51, 153, 0.237);
}

.margin{
    margin-bottom: 20px;
}