.objective-container{
    top: 0;
    margin-top: 3%;
    padding: 20px;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .objective-container{
        position: relative;
    }
}

.row{
    width: 110%;
}

.list{
    font-size: 18px;
    font-weight: 500;
}

.heading{
    margin-top: 30px;
    color: rebeccapurple;
    margin-bottom: -5px;
}

#degree{
    width: 100%;
    padding: 11px;
    border: 1px solid;
}
