.contact-container{
    top: 0;
    margin-top: 3%;
    padding: 20px;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .contact-container{
        position: relative;
    }

}

.header-title{
    color: #003464;
    font-weight: 600;
    width: 100%;
}

.answer{
    color: #003464;
    font-weight: 300;
}

.alart{
    margin-top: 30px;
    color: tomato;
    font-weight: 600;
}

.lable{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid;
}

input:focus{
    outline: none;
}

.inputfeild{
    width: 100%;
}

.next-btn{
    margin-top: 20px;
    padding: 10px 15px;
    color: #003464 !important;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    background-color: transparent;

}

.missed{
    border: 2px solid tomato;
    box-shadow: 0px 0px 3px rgb(255, 0, 0);
}

.tuning{
    width: 100%;
}