.headings{
    color: rebeccapurple;
}

.details-container{
    margin-top: 20px;
    width: 100% !important;
}

.proAdd{
    margin-top: 20px;
    width: 100%;
}

.added{
    text-align: center;
    color: green;
    margin-bottom: 0px;
}

.verify{
    color: white;
    font-size: 15px;
    background-color: green;
    padding: 5px 10px;
    border-radius: 50px;
}

.details{
    width: 100%;
}