.headings{
    color: rebeccapurple;
}

.details-container{
    margin-top: 20px;
    width: 100% !important;
    background-color: rgb(246, 246, 246);
    padding: 20px;
}

.proAdd{
    margin-top: 20px;
    width: 100%;
}

.added{
    text-align: center;
    color: green;
    margin-bottom: 0px;
}

.verify{
    color: white;
    font-size: 15px;
    background-color: rgba(1, 181, 1, 0.659);
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 20px;
}

.details{
    width: 100%;
}

.invalid{
    padding: 10px;
    text-align: center;
    color: red;
    background-color: rgba(255, 0, 0, 0.112);
    font-size: 15px;
    margin: 20px 12px 10px 12px;
    border-radius: 5px;
}
