.skill-container{
    top: 0;
    margin-top: 3%;
    padding: 20px;
    width: 100%;
    
}

@media (max-width: 768px) {
    .skill-container{
        position: relative;
    }
    .details{
        width: 100%;
    }

}

.skill-input{
    border-right: none;
}

.add{
    padding: 10px;
    background-color: tomato;
    border: 1px solid #000;
    border-left: none;
        color: #fff;
}

.remove{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px 15px;
    text-align: center;
    margin-left: 10px;
    border-radius: 50px;
    width: fit-content;
    background-color: rgba(176, 176, 176, 0.266);
    border: 1px solid rgba(196, 196, 196, 0.266);
}

.check-skills{
    margin-top: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete{
    color: grey;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
}

.delete:hover{
    transform: rotate(180deg);
    color: red;
}

.skill-title{
    text-align: center;
    color: #298fc2;
    padding-bottom: 20px;
}

.adjust{
    margin-top: 70px;
    margin-bottom: -50px;
}